
body
{
    background-color: #E0D49C;
    text-align: center;
}
h1
{
    font-family: Arial, Helvetica, sans-serif; color: #63595C;
}
h2 
{
    font-family: Arial, Helvetica, sans-serif; color: #363032
}